body {
    padding-top: 40px;
    padding-bottom: 20px;
}

p{
    text-align: center;
}

h1{
    text-align:center;
}
h2{
    text-align:center;
}

.jumbotron{
    
   position: relative;
   padding-top: 40px;
   background: url("Images/jumboPic.jpg") no-repeat center center;
   background-size: 100% 100%;
   -moz-background-size: 100% 100%;
   -webkit-background-size: 100% 100%;
   -o-background-size: 100% 100%;
   min-height:500px;
   margin-bottom:0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #bdbdbd    
}

.btn-primary {
    background-color: #40666d;
    border: none;
    color: #fff;
    padding: 11px 36px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.bg-grey{
    background-color: #f3f3f3
}

.main{
    margin-top:170px;
    color: black;
}

.lead{
    font-size: 25px;
}

.opening{
    position:relative;
    height:70%;
    width: 100%;
}

.opening-text{
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    width: 60%;
    font-size:23px;
    font-weight:300;
    text-align:center;

}

.opening-image{
    margin-top:30px;
    margin-bottom:30px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*the following can be used if responsive designs are required for wider screens*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1465px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1760px;
    }
}