@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class="jumbotron">
        <h1>New Technologies</h1>
        <p class="lead">New Technologies is a company that specializes in creating technological solutions to meet your needs.</p>
        <p><a href="~/Views/Home/Services.cshtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <hr />

    <div class="bg-grey">
        <div class="container-fluid-wot-grn-bg">
            <center>
                <h3>
                    New Technologies works hard to ensure we exceed your expectations. As a small business, our clients are able to speak directly to the person working on their
                    product. This alleviates miscommunication that often comes from speaking to "the man in the middle."
                </h3>
            </center>
        </div>
    </div>

    <hr />
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <center>
                    <img src="~/Content/Images/techImage.jpg" style=" width:95%;height:95%" />
                    <h2>Getting Started</h2>
                    <p>
                        New Technologies offers a variety of services including web applications, mobile applications, and ecommerce solutions.
                    </p>
                    <p><a class="btn btn-default btn-lg" href="~/Views/Home/Services.cshtml">Learn more &raquo;</a></p>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <img src="~/Content/Images/employeesImage.jpg" style=" width:95%;height:95%" />

                    <h2>About Our Employees</h2>
                    <p>
                        We have a small group of employees that focus on quality over quanity. We are a passionate bunch and enjoy working together to make the best product
                        possible
                    </p>
                    <p><a class="btn btn-default btn-lg" href="~/Views/Home/About.cshtml">About Us &raquo;</a></p>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <img src="~/Content/Images/ideaImage.jpg" style=" width:95%;height:115%" />
                    <h2>Careers</h2>
                    <p>We are constantly looking for new talent and hope you'll join us in making top notch products to meet our clients' needs.</p>
                    <p><a class="btn btn-default btn-lg" href="~/Views/Home/Career.cshtml" style="align-items:center">Careers &raquo;</a></p>
                </center>
            </div>
        </div>
    </div>
</body>